*
{
    margin:0px;
    padding:0px;
}

body
{
    background-color:#023047;
    text-align:center;
    display:flex;
    justify-content: center;
}

h1
{
    color:#FFB703;
}

.container
{
    height: 70vh;
    width:80vw;
    background-color: #219EBC;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 1rem;

}

.game
{
    height:60vmin;
    width:60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:1.5vmin;

}

.box
{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    font-size:10vmin;
    color:black;
    background-color: #FFB703;
}

#rst
{
    border-radius: 0.5rem;
    height:50px;
    width:100px;
    font-weight: bolder;
    background-color: #8ECAE6;
}

#newbtn
{
    border-radius: 0.5rem;
    height:50px;
    width:100px;
    font-weight: bolder;
    background-color: #8ECAE6;
}

#msg
{
    color:#FB8500;
    font-size:5vmin;
}

.hide
{
    display:none;
}

.msgcontainer
{
    height:100vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:4rem;
}